.message{ data: { id: "#{ message.id }" } }
  .message__author-name
    = message.user.name
  .message__time
    = message.created_at
  .message__text
    = message.text
  - if message.image.url
    = image_tag(message.image, class: '.message__image')
