.wrapper

  = render 'layouts/sidebar'

  .main

    .main-header
      %p.main-header__group-name
        = @group.name
      = button_to 'edit', edit_group_path(@group), method: :get, value: 'edit', class: 'main-header__edit-btn'
      %p.main-header__group-menbers
        MEMBER&nbsp;:&nbsp;
        - @group.users.each do |user|
          #{user.name}&nbsp;

    .main-body
      .main-body__message-list.messages-list
        - @messages.each do |message|
          = render partial: 'message', locals: { message: message }

    .main-footer
      = form_for [@group, @message], html: { class: 'comment-form' } do |f|
        = f.text_field :text, placeholder: 'type a message', class: 'comment-form__message'
        = f.label :image, class: 'comment-form__btn-insert-image-file' do
          = fa_icon('image lg', class: 'comment-form__btn-insert-image-file--icon')
          = f.file_field :image, class: 'comment-form__btn-insert-image-file--hidden'
        %button.comment-form__btn-submit
          submit
